@font-face {
	font-family: Graphik;
	src: local('Graphik-Medium'), url('./fonts/Graphik-Medium.woff') format('woff');
}

body {
	font-family: 'Graphik-Medium', 'Segoe UI', Tahoma, Verdana, sans-serif
}

.product-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background-color: #faf8f8;
	overflow-y: scroll;
}
.orderingInfo {
	width: 20%;
	border: 1px solid red;
	float: right;
	margin-right: 8%;
}
.orderingInfo .orderQty {
	margin: 20px 0px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: #faf8f8;

}
.orderingInfo .btnGroup {
	margin: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #faf8f8;

	
}
#cart {
	margin: 20px 0px;
	width: 100%;
	border-radius: 0px;
	border: .5px black solid;
	border-radius: 0px;
	padding: 5px;
}
.sizeSelector {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	border-radius: 0px;
	border: .5px black solid;
	padding: 5px;
	padding-left: 10px;
	background-color: #faf8f8;

}
#dropdown {
	height: 10px;
	width: 10px;
}

