.productGrid {
	border: 1px solid orange;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.productGrid .row1, .row2, .row3 {
	width: 60%;
	border: 1px green solid;
	margin-bottom: 2vh;
}

.productGrid img {
	max-height: 500px;
	max-width: 45%;
	margin: 4vh;
}

.productGrid .row1 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	align-items: center;
}
.productGrid .row2 {
	display: flex;
	justify-content: center;
}

.productGrid .row3 {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}