.bottomSection {
  position: relative;
}
.productGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.productGrid .row1, .row2, .row3 {
  width: 60%;
  margin-bottom: 2vh;
  padding: 2vh;
  display: flex;
  justify-content: center;

}
.productGrid h5 {
  font-size: 1.3em;
  text-decoration: underline;
  margin-bottom: 0;
}
.productGrid p {
  margin-top: 1.5em;
  margin-bottom: 2vh;
  font-size: .9em;
}

.article {
  padding-top: 2vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal {
  max-width: 70%;
}

.vertical {
  max-width: 60%;
}

@media only screen and (max-device-width: 480px) {

  .article {
    padding-top: 2vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .productGrid .row1, .row2, .row3 {
    width: 100%;
    margin-bottom: 0;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .horizontal {
    max-width: 100%;
  }
  
  .vertical {
    max-width: 100%;
  }
  .productGrid h5 {
    font-size: 1em;
  }
  .productGrid p {
    font-size: .8em;
  }
}