body, button {
  font-size: .85em;
  letter-spacing: .08em;
}
.topSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border: 1px solid red;
  background-color: #faf8f8;
}
.product-container {
  background-color: #faf8f8;
  /* width: 100%; */
  border: 1px solid blue;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.product-container.zoomed {
  width: 100%;
  justify-self: center;
  max-height: fit-content;
}
.product-container::-webkit-scrollbar {
  display: none;
};

.product-image {
  top: 0;
  max-height: 80vh;
  cursor: zoom-in;
}
.product-image-zoomed {
  cursor: zoom-out;
  width: 100%;
  max-height: fit-content;
}

.description {
  border: 1px solid purple;
  width: 20%;
  min-width: 250px;
  top: 50%;
  padding-left: 5em;
  text-align: left;
}
.description p {
  line-height: 2.1em;
  hyphens: none;
}
.description h5 {
  margin-top: 0px;
  letter-spacing: .2em;
  line-height: 2.1em;
}

.orderingInfo {
  width: 20%;
  min-width: 250px;
  top: 50%;
  padding-right: 5em;
  /* float: right; */
  /* z-index: 3; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  /* border: 1px solid green; */
  
}

.orderQty {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #faf8f8;
  margin-top: 5%;
  margin-bottom: 5%;
}
.orderQty button {
  font-family: inherit;
  background-color: inherit;
  border: 1px black solid;
  width: 7.5%;
}

.orderingInfo p {
  font-size: .8em;
  letter-spacing: .06em;
  text-decoration: underline;
  text-align: center;
}
#price {
  margin-bottom: 10%;
}

#quantity {
  width: 85%;
  text-align: center;
  padding: 4px 0px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.btnGroup {
  display: flex;
  margin-bottom: 5%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #faf8f8;
}

.colorOption {
  width: 33.33%;
  border: 1px black solid;
  padding: 3px;
  font: inherit;
  font-size: .9em;
}
#black {
  background-color: black;
  color: white;
  outline: none;
}
#beige {
  background-color: #f0bf6b;
  outline: none;
}
#cart {
  width: 100%;
  border-radius: 0px;
  background-color: black;
  color: white;
  font: inherit;
  border: .5px black solid;
  border-radius: 0px;
  padding: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.sizeSelector-closed {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px;
  border: .5px black solid;
  padding: 5px;
  padding-left: 10px;
  background-color: #faf8f8;
  margin-top: 5%;
  margin-bottom: 5%;

}
#dropdown {
  height: 10px;
  width: 10px;
}

.sizeList {
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  list-style: none;
  border: 1px black solid;
  
}
.sizeList li {
  font-family: inherit;
  background-color: white;
  border: none;
  padding: 1em;
}
.sizeList li:hover {
  background-color: #faf8f8;
}
@media only screen and (max-device-width: 480px) {
  .topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-container {
    order: 1;
    width: 100%;
  }
  .product-image {
    max-width: 100%;
  }
  .description {
    order: 2;
    width: 70%;
    padding: 0;
    margin: 2vh;
    font-size: .9em;

  }
  .description h5, p {
    /* padding-left: 6vh;
    padding-right: 6vh; */
    font-size: .9em;
  }
  .orderingInfo {
    order: 3;
    width: 70%;
    padding: 0;
    margin: 2vh;
    
  }

  }
