
.topSection {
	display: flex;
	flex-direction: row;
	border: 1px solid red;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #faf8f8;
	
}
.product-container {
	border: 1px solid blue;
	max-width: 50%;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	overflow-y: scroll;
}

.product-container img {
	max-height: 80vh;
}

.orderQty {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: #faf8f8;
	margin-top: 5%;
	margin-bottom: 5%;
}

.orderingInfo {
	max-width: 20%;
	margin-right: 5%;
	flex-grow: 2.5;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 1px solid green;
	position: sticky;

}

.orderingInfo p {
	font-size: .8em;
	letter-spacing: .06em;
	text-decoration: underline;
	text-align: center;
}
#price {
	margin-bottom: 10%;
}

#quantity {
	width: 90%;
	text-align: center;
	border: 1px solid black;
}

.btnGroup {
	display: flex;
	margin-bottom: 5%;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #faf8f8;
}

.colorOption {
	width: 33.33%;
	border: 1px black solid;
	padding: 3px;
}

#cart {

	width: 100%;
	border-radius: 0px;
	background-color: black;
	color: white;
	border: .5px black solid;
	border-radius: 0px;
	padding: 5px;
	margin-top: 5%;
	margin-bottom: 5%;
}
.sizeSelector {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	border-radius: 0px;
	border: .5px black solid;
	padding: 5px;
	padding-left: 10px;
	background-color: #faf8f8;
	margin-top: 5%;
	margin-bottom: 5%;

}
#dropdown {
	height: 10px;
	width: 10px;
}

.description {
	border: 1px solid purple;
	max-width: 20%;
	margin-left: 5%;
	flex-grow: 2.5;
	flex-shrink: 1;
	position: sticky;
	
	text-align: left;
}
.description p {
	letter-spacing: .07em;
	font-size: .9em;
	line-height: 2.4em;
	hyphens: none;
}
.description h5 {
	margin-top: 0px;
	letter-spacing: .2em;
	font-size: .9em;
	line-height: 2.1em;
}